.weather-app {
  position: relative;
  border: 1px solid black;
  border-radius: 5%;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  max-width: 600px;
  margin: 10 30;
  padding: 0 25px;
}
h1 {
  font-family: "Heebo", sans-serif;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #f3efed;
  font-weight: bold;
}
form {
}
.current-update-location {
  font-family: "Heebo", sans-serif;
  list-style: none;
  margin: 30px;
}
input[value="search"] {
  background-color: #faf9fa;
  border: 1px solid #545454;
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  margin: 0px 10px 0px 10px;
  line-height: 0.5;
  border-radius: 1px;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
}
#location-emoji {
  background-color: #faf9fa;
  border: 1px solid #545454;
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  margin: 0;
  line-height: 0.5;
  border-radius: 1px;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  display: block;
}
input[value="search"]:hover {
  cursor: pointer;
  background-color: #d5dfe5;
  color: black;
  font-weight: bold;
  border: 1px solid #f3efed;
}
#location-emoji:hover {
  cursor: pointer;
  background-color: #d5dfe5;
  color: black;
  font-weight: bold;
  border: 1px solid #f3efed;
}
ul {
  list-style: none;
  padding: 0;
  color: #f3efed;
  text-transform: capitalize;
}

#forecast {
  font-family: "Heebo", sans-serif;
  font-size: 14px;
  padding: 0 5px;
  margin: auto;
  text-align: auto;
  color: #f5a841;
}
.col {
  color: #f3efed;
}
.github-link {
  margin: auto;
  padding: auto;
  font-family: "Work Sans", sans-serif;
  color: black;
  margin: 10px 160px;
  font-weight: 300;
  font-size: medium;
}
