.weather-app {
  position: relative;
  border: 1px solid black;
  border-radius: 5%;
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  background-blend-mode: multiply, multiply;
  max-width: 480px;
  margin: 10 30;
  padding: 0 0 0 25px;
}
h1 {
  font-family: "Heebo", sans-serif;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-right: 0;
  color: #f3efed;
  font-weight: bold;
}
.form {
}
.current-update-location {
  font-family: "Heebo", sans-serif;
  list-style: none;
  margin: 30px;
  font-size: medium;
}
input[value="search"] {
  background-color: #faf9fa;
  border: 1px solid #545454;
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  margin: 0px 10px 0px 10px;
  line-height: 0.5;
  border-radius: 1px;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
}
#location-emoji {
  background-color: #faf9fa;
  border: 1px solid #545454;
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  margin: 0;
  line-height: 0.5;
  border-radius: 1px;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  display: block;
}
input[value="search"]:hover {
  cursor: pointer;
  background-color: #d5dfe5;
  color: black;
  font-weight: bold;
  border: 1px solid #f3efed;
}
#location-emoji:hover {
  cursor: pointer;
  background-color: #d5dfe5;
  color: black;
  font-weight: bold;
  border: 1px solid #f3efed;
}
ul {
  list-style: none;
  padding: 0;
  color: #f3efed;
  text-transform: capitalize;
  max-width: 600px;
  margin: 0 30;
  padding: 0 25px;
}

#weather-icon {
  line-height: 5px;
}

.col {
  color: #f3efed;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 0px;
}

#forecast {
  font-family: "Heebo", sans-serif;
  font-size: 14px;
  padding: 0 5px 10px 0;
  margin: auto;
  text-align: center;
  color: #f5a841;
}

#header-upcoming {
  font-family: "Heebo", sans-serif;
  font-size: 17x;
  color: #f3efed;
  padding: 0 0 20px 0;
}
h6 {
  margin: 0;
}
.github-link {
  margin: auto;
  padding: auto;
  font-family: "Work Sans", sans-serif;
  color: black;
  margin: 10px 106px;
  font-weight: 300;
  font-size: medium;
  max-width: 480px;
}

.weather-now .active {
  color: #f3efed;
  cursor: default;
}
.weather-now .active:hover {
  color: black;
  cursor: default;
  text-decoration: none;
}
